*{
    margin: 0%;
    padding: 0%;
}

body{
 background-color: aliceblue;
  .ner{
    display: grid;
    grid-template-columns: 100px repeat(4,150px) 60px;
    column-gap: 50px;
    justify-content:space-around;
    padding: 50px;
    background-color: black;
  .a{
    color: white;
    text-align: center;
    font-size: xx-large;
  }
}

  .banner{
    display: grid;
    grid-template-columns: 80px repeat(4,250px) 60px;
    column-gap: 50px;
    justify-content:space-evenly;
    padding: 50px;
    background-color: black;
    

  .green {
    display: block;
    background-color: green;
    text-align: center;
    border-style: solid;
    border-color: black;
    padding: 8px 16px;
    box-shadow: 5px 5px #7aff7a;
    border-radius: 50px;
  }
  .blue{
    background-color: blue;
    text-align: end;
    padding: 8px 16px;
    box-shadow: -20px 5px lightblue;
  }
  .red{
   background-color: red;
   text-align: start;
  }
  .yellow{
  background-color: yellow ;
  border-style: solid;
  text-align: center;
  border-color: blue;


  }
  .orange{ 
  background-color: orange;
  border-style: double;
  text-shadow: 3px -1px rgb(124, 124, 124);
  box-shadow: 5px 5px rgb(255, 128, 0);
  }
  .purple{
    background-color: purple;
    text-align: center;
    box-shadow: 2px 2px white;
    padding: 10px;
    border-radius: 50%;
  }
}


.main{
font-size: x-large;
padding: 30px;
padding: 2%;
margin-bottom: 10%;
}

/* --------------------------------------------------- */

@media screen and (max-width: 1000px) {
  .banner{
    display: grid;
    grid-template-columns: 40px repeat(3,auto);
    column-gap: 50px;
    justify-content:space-evenly;
    padding: 50px;
    background-color: black;
  
}

}

}